*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Aardv;
    src: url(../fonts/AARDV.TTF);
}
body{
    color: rgb(255, 250, 244);
    background-color: rgb(0, 0, 0);
    text-align: center;
}
h2{
    display: block;
    font-family: Aardv;
    color: rgb(255, 174, 68);
    text-shadow: rgb(41, 81, 116) .5px .5px;
}

.aardv{
    font-family: Aardv;
    color: rgb(41, 81, 116);
}
p{
    padding-bottom: 10px;
    text-align: center;
    font-size: smaller;
}
#nav-logo{
    width: 80%;
    margin: 1rem;
}
#nav-bar{
    background-color: rgb(255, 174, 68);
    justify-content: center;
    align-items: center;
    padding: 0 50px ;
    display: flex;
    flex-wrap: wrap;
}
#banner{
    width: 90%;
    margin: 1rem;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.contenedor{
    margin: 0;
    width: 80%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}
.contenedor ul li{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
footer{
    height: auto;
    margin-top: 30px;
    padding: 2em;
    background-color: rgb(106, 106, 106);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#remera-img{
    width: 50%;
    mask-image: linear-gradient(black 40%, transparent);
}
.burguer-img{
    border-radius: 10px;
    height: 75px;
}

.lista-de-hamburguesas{
    padding-left: 0;
    width: 100%;
}
h3{
    font-size: 1.2rem;
}
.burguer-info{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}